:root {
    --header-height: 4rem;
    --footer-height: 9rem;
    --socials-height: 6rem;
    --copyright-height: 3rem;

    //COLORS
    --background-color: #fffeee;
    --background-color-secondary: #f6f4fb;
    --button-color: #4F709C;
    --text-color: #063dcc;
    --text-color-secondary: #fffeee;
    --cursor-color: #ffc107;
    

    //FONT
    --font-size-header: 1rem;
}